<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.makingapps.ahorcado">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.makingapps.ahorcado.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.makingapps.ahorcado.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="es.makingapps.ahorcado.ResultadosActivity"
            android:label="@string/title_activity_resultados"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="es.makingapps.ahorcado.OpcionesActivity"
            android:label="@string/title_activity_opciones"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="es.makingapps.ahorcado.AcercaDeActivity"
            android:label="@string/title_activity_acerca_de"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
